<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="AutoStartGroup" Directory="INSTALLDIR">
      <Component Id="AutoStartRegistry" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890" Win64="yes">
        <RegistryValue
          Root="HKLM"
          Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run"
          Name="Dazzle"
          Type="string"
          Value="&quot;[INSTALLDIR]Dazzle.exe&quot; --hidden"
          KeyPath="yes"
        />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
